

body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "col-1 col-2 col-2"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 30% 1fr 30%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}  
header, footer, col-1, col-2 div {
  padding: 1.2em;
  background: white;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainLeft { 
  grid-area: col-1; 
}
#mainRight { 
  grid-area: col-2;      
}
#siteAds { 
  grid-area: ads; 
}