

/* for dev */
* {
    border-color: skyblue;
    border-style: dashed;
}

.title {
    
}

#name {
    
}

#education {
    
}


span {
    display: block;
}


#occupation {
    color: skyblue;

}

/* Education */


.wrapper {
    width:800px;
    margin: 0 auto;
}


#block_left {
    float:left;
}

#block_right {
    float:right;
    background-color: #F5F5F5;
    margin: 10px 20px;
    padding: 20px;
}



a {
    display: block;
    color: black;
}
a:link    {
    text-decoration:  none;
    font-weight:      bold;
    color:            blue;
} 
a:visited {
    text-decoration:  none;
    font-weight:      bold;
} 
a:hover   {
    font-weight:      850;
} 
a:active  {
    font-weight:      bold;
} 