

span {
    display: block;
}

a {
    display: block;
    color: black;

}

#name {

}

#occupation {
    color: skyblue;

}



a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
    font-weight:      bold;
    /*    background-color: #ddd;*/
    color:            blue;
} 
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    font-weight:      bold;
    /*    background-color: #ddd;*/
    /*    color:            #f0f;*/
} 
a:hover   {
    /* Applies to links under the pointer */
    /*  text-decoration:  underline;*/
    font-weight:      850;
    /*        background-color: blue;*/
    /*    color:            #fff;*/
} 
a:active  {
    /* Applies to activated links */
    /*  text-decoration:  underline;*/
    font-weight:      bold;
    /*    background-color: black;*/
} 